h3 {
  font-size: 16px;
}

.map {
  height: 700px;
}

#speciescat-stack .x.axis text {
    text-anchor: end !important;
    transform: rotate(-65deg);
}

.pie-label {
  background-color: #fff;
  font-size: 15px;
}

.dc-chart .axis path, .dc-chart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dc-chart .axis text {
    font-family: sans-serif;
    font-size: 15px;
}

svg {
  cursor: pointer;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
