h3 {
  font-size: 16px;
}

.map {
  height: 700px;
}

#speciescat-stack .x.axis text {
    text-anchor: end !important;
    transform: rotate(-65deg);
}

.dc-chart .axis text {
    font-family: sans-serif;
    font-size: 15px;
}
